name: Python Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    name: python
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.21"
          # This enables caching of the uv cache to speed up subsequent runs
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        # This will install everything in your uv.lock file
        run: uv sync --all-extras --dev

      - name: Run Pytest
        # uv run ensures the tests run within the virtual environment created by sync
        run: uv run pytest
